@{
    ViewData["Title"] = "Home";
}

<div class="text-center"> 
     
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-list-ul"></i> View All Claims
                    </h5>
                    <p class="card-text">Browse and manage all insurance claims in the system.</p>
                    <a asp-controller="Claims" asp-action="Index" class="btn btn-primary">
                        <i class="bi bi-eye"></i> View Claims
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-plus-circle"></i> Submit New Claim
                    </h5>
                    <p class="card-text">Submit a new insurance claim for processing.</p>
                    <a asp-controller="Claims" asp-action="Submit" class="btn btn-success">
                        <i class="bi bi-plus"></i> Submit Claim
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
